<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="EditorKitFactory" name="EditorKitFactory" 
                    schema="schema/EditorKitFactory.exsd"/>
   <extension-point id="WorkspaceTab" name="WorkspaceTab"
                    schema="schema/WorkspaceTab.exsd"/>
   <extension-point id="ViewComponent" name="ViewComponent" 
                    schema="schema/ViewComponent.exsd"/>
   <extension-point id="ViewAction" name="ViewAction"
                    schema="schema/ViewAction.exsd"/>
   <extension-point id="EditorKitMenuAction"
                    name="EditorKitMenuAction"
                    schema="schema/EditorKitMenuAction.exsd"/>
   <extension-point id="ToolBarAction" name="ToolBarAction"
                    schema="schema/ToolBarAction.exsd"/>
   <extension-point id="preferencespanel" 
                    name="preferencespanel"
                    schema="schema/preferencespanel.exsd"/>
   <extension-point id="explanationpreferencespanel"
                    name="explanationpreferencespanel"
                    schema="schema/explanationpreferencespanel.exsd"/>
   <extension-point id="EditorKitHook"
                     name="EditorKit Hook"
                     schema="schema/EditorKitHook.exsd"/>
   <extension-point id="OntologyRepositoryFactory" 
                    name="Ontology Repository Factory" 
                    schema="schema/OntologyRepositoryFactory.exsd"/>
   <extension-point id="OntologyLoader" 
                    name="Ontology Loader" 
                    schema="schema/OntologyLoader.exsd"/>
   <extension-point id="OtherStartupActions"
                    name="OtherStartupActions" 
                    schema="schema/OtherStartupActions.exsd"/>

    <!-- Set up standard menus -->

    <!-- File menu -->


   <extension
         id="menu.FileMenu"
         name="FileMenu"
         point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="@i18n.menu.file"/>
      <path value="/SlotA-A"/>
      <editorKitId value="any"/>
   </extension>

    <extension id="menu.file.new" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.action.new"/>
        <toolTip value="@i18n.action.new.tooltip"/>
        <class value="org.protege.editor.core.ui.action.NewAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAA-E"/>
        <editorKitId value="any"/>
        <accelerator value="N"/>
    </extension>

    <extension id="menu.file.open" 
    		   point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.action.open"/>
        <toolTip value="@i18n.action.open.tooltip"/>
        <class value="org.protege.editor.core.ui.action.OpenAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAA-F"/>
        <editorKitId value="any"/>
        <accelerator value="O"/>
    </extension>

    <extension id="menu.file.openrecent" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.action.openRecent"/>
        <toolTip value="@i18n.action.openRecent.tooltip"/>
        <class value="org.protege.editor.core.ui.action.OpenRecentAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAA-Z"/>
        <editorKitId value="any"/>
        <dynamic value="true"/>
    </extension>

    <extension id="menu.file.close" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.action.closeWindow"/>
        <toolTip value="@i18n.action.closeWindow.tooltip"/>
        <class value="org.protege.editor.core.ui.action.CloseAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotY-M"/>
        <editorKitId value="any"/>
        <accelerator value="W"/>
    </extension>

    <extension id="menu.file.save" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.action.save"/>
        <toolTip value="@i18n.action.save.tooltip"/>
        <class value="org.protege.editor.core.ui.action.SaveAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAB-A"/>
        <editorKitId value="any"/>
        <accelerator value="S"/>
    </extension>

    <extension id="menu.file.saveas" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.action.saveAs"/>
        <toolTip value="@i18n.action.saveAs.tooltip"/>
        <class value="org.protege.editor.core.ui.action.SaveAsAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAB-B"/>
        <editorKitId value="any"/>
        <accelerator value="shift S"/>
    </extension>


    <extension id="menu.plugins" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.action.checkPlugins"/>
        <toolTip value="@i18n.action.checkPlugins.tooltip"/>
        <class value="org.protege.editor.core.ui.action.CheckPluginsAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotP-A"/>
        <editorKitId value="any"/>
    </extension>

    <!-- Edit menu -->

    <extension id="menu.EditMenu"
                point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.menu.edit"/>
        <toolTip value=""/>
        <path value="/SlotB-A"/>
        <editorKitId value="any"/>
    </extension>

    <!-- Window menu -->

    <extension id="menu.window" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.menu.window"/>
        <path value="/SlotW-A"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="menu.window.captureView" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.window.captureView"/>
        <path value="org.protege.editor.core.application.menu.window/SlotC-A"/>
        <toolTip value="@i18n.window.captureView.tooltip"/>
        <class value="org.protege.editor.core.ui.view.CaptureScreenshotAction"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="menu.window.views" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.window.views"/>
        <path value="org.protege.editor.core.application.menu.window/SlotA-A"/>
        <toolTip value="@i18n.window.views.tooltip"/>
        <class value="org.protege.editor.core.ui.workspace.views.ViewMenuAction"/>
        <editorKitId value="any"/>
        <dynamic value="true"/>
    </extension>




    <extension id="menu.window.tabs" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.window.tabs"/>
        <path value="org.protege.editor.core.application.menu.window/SlotA-C"/>
        <toolTip value="@i18n.window.tabs.tooltip"/>
        <class value="org.protege.editor.core.ui.workspace.tabs.TabsMenuAction"/>
        <editorKitId value="any"/>
        <dynamic value="true"/>
    </extension>

    <extension id="menu.window.createTab" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.window.createTab"/>
        <path value="org.protege.editor.core.application.menu.window/SlotB-D"/>
        <toolTip value="@i18n.window.createTab.tooltip"/>
        <class value="org.protege.editor.core.ui.workspace.tabs.CreateTabAction"/>
        <editorKitId value="any"/>
    </extension>
    
    <extension id="menu.window.deleteTab" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.window.deleteTabs"/>
        <path value="org.protege.editor.core.application.menu.window/SlotB-E"/>
        <toolTip value="@i18n.window.deleteTabs.tooltip"/>
        <class value="org.protege.editor.core.ui.workspace.tabs.DeleteCustomTabsAction"/>
        <editorKitId value="any"/>
    </extension>
    
        
    <extension id="menu.window.exportTab" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.window.exportTab"/>
        <path value="org.protege.editor.core.application.menu.window/SlotB-F"/>
        <class value="org.protege.editor.core.ui.workspace.tabs.ExportTabAction"/>
        <editorKitId value="any"/>
    </extension>
    
    <extension id="menu.window.importTab" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.window.importTab"/>
        <path value="org.protege.editor.core.application.menu.window/SlotB-F"/>
        <class value="org.protege.editor.core.ui.workspace.tabs.ImportTabAction"/>
        <editorKitId value="any"/>
    </extension>
    
    <extension id="menu.window.saveTabs" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.window.storeLayout"/>
        <path value="org.protege.editor.core.application.menu.window/SlotB-G"/>
        <class value="org.protege.editor.core.ui.workspace.tabs.SaveAllTabsAction"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="menu.window.resetCurrentTab" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.window.resetTab"/>
        <path value="org.protege.editor.core.application.menu.window/SlotB-H"/>
        <class value="org.protege.editor.core.ui.workspace.tabs.ResetCurrentTabAction"/>
        <editorKitId value="any"/>
    </extension>

    <!-- Help menu -->

    <extension id="menu.HelpMenu" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.menu.help"/>
        <path value="/SlotZZZZ-Z"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="menu.DocumentationMenuItem" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.help.documentation"/>
        <toolTip value="@i18n.help.documentation.tooltip"/>
        <url value="http://protegeproject.github.io/protege"/>
        <path value="org.protege.editor.core.application.menu.HelpMenu/SlotF-A"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="menu.ReleaseNotesMenuItem" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.help.releaseNotes"/>
        <toolTip value="@i18n.help.releaseNotes.tooltip"/>
        <url value="https://github.com/protegeproject/protege-distribution/releases"/>
        <path value="org.protege.editor.core.application.menu.HelpMenu/SlotG-A"/>
        <editorKitId value="any"/>
    </extension>


    <extension id="menu.CiteProtegeMenuItem" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.help.howToCite"/>
        <toolTip value="@i18n.help.howToCite.tooltip"/>
        <url value="http://protege.stanford.edu/about.php#citing"/>
        <path value="org.protege.editor.core.application.menu.HelpMenu/SlotH-A"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="ui.preferences.explanation"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="@i18n.preferences.explanations"/>
        <class value="org.protege.editor.core.ui.explanationpreferences.ExplanationPreferencesPanel"/>
    </extension>

    <!-- Autoupdate preferences -->

    <extension id="ui.preferences.update"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="@i18n.preferences.plugins"/>
        <class value="org.protege.editor.core.update.PluginPreferencesPanel"/>
    </extension>
    
    <!-- Log preferences -->
    
    <extension id="ui.preferences.update"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="@i18n.preferences.log"/>
        <class value="org.protege.editor.core.log.LogPreferencesPanel"/>
    </extension>

    <extension id="menu.window.timestamp" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.window.timestamp"/>
        <path value="org.protege.editor.core.application.menu.window/SlotE-A"/>
        <toolTip value="@i18n.window.timestamp.tooltip"/>
        <class value="org.protege.editor.core.ui.action.TimestampOutputAction"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="menu.window.showlog" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="@i18n.window.showLog"/>
        <path value="org.protege.editor.core.application.menu.window/SlotE-B"/>
        <toolTip value="@i18n.window.showLog.tooltip"/>
        <class value="org.protege.editor.core.log.ShowLogAction"/>
        <editorKitId value="any"/>
    </extension>
    
    <!-- Other startup actions --> 
    
    <extension id ="AltCheckForPluginsAction"
               point="org.protege.editor.core.application.OtherStartupActions">
       <name value="@i18n.action.checkPlugins"/>
       <class value="org.protege.editor.core.ui.action.start.CheckPluginsAction"/>
       <sortIndex value="B"/>
    </extension>
    
    <extension id="ResetPreferencesAction"
               point="org.protege.editor.core.application.OtherStartupActions">
        <name value="@i18n.startup.resetPreferences"/>
        <class value="org.protege.editor.core.ui.action.start.ResetPreferencesAction"/>
        <sortIndex value="A"/>
	</extension>

</plugin>
